* {
	margin: 0;
	padding: 0;
}
body {
	padding-top: 70px;
}
.bg-blue-black {
	background-color: rgb(31, 37, 48);
}
.bg-blue-black-light {
	background-color: rgb(49, 63, 77);
}
.floating {
	position: fixed;
	background-color: red;
}
hr.divider-light {
	margin-top: 3px;
	margin-bottom: 3px;
	margin-right: 2px;
	margin-left: 2px;
}
